/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f4;
}

/* Encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Sección de productos */
.productos {
    padding: 20px;
    text-align: center;
}

.productos h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.producto {
    display: inline-block;
    width: 200px;
    margin: 15px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.producto img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.producto h3 {
    margin-top: 10px;
    font-size: 18px;
}

.producto p {
    font-size: 16px;
    color: #888;
}

.producto button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.producto button:hover {
    background-color: #555;
}

/*agregarndo nuevos botones de busqueda*/
.busqueda {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.busqueda button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.busqueda button:hover {
    background-color: #45a049;
}